<!DOCTYPE html>
<html>
<head>
<title>Bike Tracker</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<style>
.stage{padding:40px 15px;}
.bike_list .active, .location_list .active { font-weight:700; }
</style>
</head>
<!-- 
some high level to dos

add in bike location tracking into the storage locations model/view and BikeView view
replace the App.init event handlers with a NavView view

 -->
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">Bike Tracker</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#bikes">Bikes</a></li>
                <li><a href="#locations">Locations</a></li>
              </ul>
            </div>
        </div>
    </div>
    <div class="container stage">
        <div class="view-group jumbotron" id="home">
            <div class="welcome">
                <h1>Hello</h1>
                <p>So this is just a sandbox backbone project.</p>
                <p>In theory, you can track where your bikes are with this.  Thats still a bit off into the future.</p>
                <p>This project's github is <a target="_blank" href="https://github.com/7e7/bike-tracker">here</a>.</p>
            </div>
        </div>
        <div class="view-group row" id="bikes">
            <div class="bikes col-md-3"></div>
            <div class="bike col-md-9"></div>
        </div>
        <div class="view-group" id="locations">
            <div class="store bikes col-md-3"></div>
            <div class="location bikes col-md-9"></div>
        </div>        
    </div>
<script>
var Bike = Backbone.Model.extend({
	initialize: function(attributes, options) {
			this.attributes.location = this.attributes.location || "";
		}
    }),
    Bikes = Backbone.Collection.extend({ model:Bike }),
    StorageLocation = Backbone.Model.extend({
        addBike:function(id){
            if (id && _.indexOf(this.attributes.bikes, id) < 0){
                this.attributes.bikes.push(id)
                return true;
            }
            else{
                return false;
            }
        },
        removeBike:function(){
            
        }
    }),
    Store = Backbone.Collection.extend({ model: StorageLocation })
    BikeListView = Backbone.View.extend({
        initialize: function(){
            this.render();
        },
        template: _.template(["<h1>Bikes</h1><ul class='bike_list'>",
                "<% items.each(function(item) { %>",
                    "<%= itemTemplate(item) %>",
                "<% }); %>",
            "</ul><button class='add'>Add a bike</button>"
            ].join('')),
        itemTemplate:_.template("<li><a href='#<%= cid %>'><%= attributes.name %></a></li>"),
        newItemTemplate:_.template(["<li><form>",
            "<input type='text' class='name' name='name' placeholder='name'/>",
            "<input type='text' class='make' name='make' placeholder='make'/>",
            "<input type='text' class='model' name='model' placeholder='model'/>",
            "<input type='number' class='year' name='year' placeholder='2014' min='1950'/><br/>",
            "<input type='submit' value='add' />",
            "<button class='cancel'>cancel</button>",
        "</form></li>"].join('')),
        render: function() {
            $(this.el).empty().append(this.template({
              items: App.bikes,
              itemTemplate: this.itemTemplate
            }));
        },
        el: $('.bikes'),
        events:{
            "click .bike_list a":"showBike",
            "click button.add": 'newBikeLine',
            "click button.cancel":'removeBikeLine',
            "submit .bike_list form": 'addNewBike'
        },
        showBike:function(event){
            event.preventDefault();
            $('.bike_list li').removeClass('active').filter($(event.target).parents('li')).addClass('active');
            bv.render(event.target.hash.substring(1));
        },
        newBikeLine: function(){
            $(this.el).find('.bike_list').append(this.newItemTemplate())
        },
        removeBikeLine: function(event){
            event.preventDefault();
            $(event.target).parents('li').remove()
        },
        addNewBike:function(event){
            event.preventDefault();
            $(event.target).parents('li').after(this.itemTemplate(App.bikes.add({
                name:event.target.name.value,
                make:event.target.make.value,
                model:event.target.model.value,
                year:event.target.year.value
            }))).remove()
            App.save()
        },
    }),
    BikeView = Backbone.View.extend({
        initialize:function(){},
        render:function(id){ $(this.el).empty().append( this.template({ bike: App.bikes.get(id) })) },
        template: _.template(['<h1><%= bike.get("name") %></h1>',
        '<p><button class="edit" data-id="<%= bike.cid %>">Edit</button> <button class="delete" data-id="<%= bike.cid %>">Delete</button></p>',
        '<dl>',
            '<dt>Make</dt><dd><%= bike.get("make") %></dd>',
            '<dt>Model</dt><dd><%= bike.get("model") %></dd>',
            '<dt>Year</dt><dd><%= bike.get("year") %></dd>',
            '<dt>Location</dt><dd><% if(bike.get("location").length){ %><%= bike.get("location") %><% }else{ %>None<% } %></dd>',
        '</dl>'].join('')),
        editTemplate: _.template(['<form>',
		'<h1><input type="text" name="name" value="<%= bike.get("name") %>" required /></h1>',
        	'<input type="hidden" name="cid" value="<%= bike.cid %>" /><dl>',
            '<dt>Make</dt><dd><input type="text" name="make" value="<%= bike.get("make") %>" /></dd>',
            '<dt>Model</dt><dd><input type="text" name="model" value="<%= bike.get("model") %>" /></dd>',
            '<dt>Year</dt><dd><input type="text" name="year" value="<%= bike.get("year") %>" /></dd>',
            '<dt>Location</dt><dd><input type="text" name="location" value="<%= bike.get("location") %>" /></dd>',
        '</dl><input type="submit" /><button class="cancel" data-id="<%= bike.cid %>">cancel</button></form>'].join('')),
        el:$('.bike'),
        events:{
            "click .edit":"showEditMode",
            "click .cancel":"rerender",
            "click .delete":"removeBike",
			'submit form':'updateBike'
        },
        showEditMode:function(event){
            $(this.el).empty().append( this.editTemplate({ bike: App.bikes.get( $(event.target).attr('data-id') ) }))
        },
        rerender:function(event){
            this.render(event.target.cid.value);
        },
        removeBike:function(event){
            App.bikes.remove($(event.target).attr('data-id'));
            App.save();
            blv.render();
            $(this.el).empty();
        },
		updateBike:function(event){
			event.preventDefault();
			App.bikes.get(event.target.cid.value).set({
                name:event.target.name.value,
                make:event.target.make.value,
                model:event.target.model.value,
                year:event.target.year.value,
				location:event.target.location.value
			})
			App.save();
			this.render(event.target.cid.value);
			blv.render();
			
		}
    })
    StoreView = Backbone.View.extend({
        initialize:function(){
             this.render();
        },
        render:function(){
            $(this.el).empty().append(this.template({
              items: App.store,
              itemTemplate: this.itemTemplate
            }));
        },
        el:$('.store'),
        template: _.template(["<h1>Storage Locations</h1><ul class='location_list'>",
                "<% items.each(function(item) { %>",
                    "<%= itemTemplate(item) %>",
                "<% }); %>",
            "</ul><button class='add'>Add a location</button>"
            ].join('')),
        itemTemplate:_.template("<li><a href='#<%= cid %>'><%= attributes.name %></a></li>"),
        newItemTemplate:_.template('<li><form><input type="text" name="name" placeholder="name" required/><br/><input type="submit" value="add"><button class="cancel">cancel</button></form></li>'),
        events:{
            "click a":"showStorageLocation",
            "click button.add":"addNewStorageLocationLine",
            "submit form":"addNewLocation"
        },
        showStorageLocation:function(event){
            event.preventDefault();
             $('.location_list li').removeClass('active').filter($(event.target).parents('li')).addClass('active')
            slv.render(event.target.hash.substring(1));
        },
        addNewStorageLocationLine:function(event){
            $(this.el).find('.location_list').append(this.newItemTemplate())
        },
        addNewLocation:function(event){
            event.preventDefault();
            $(event.target).parents('li').after(this.itemTemplate(App.store.add({
                name:event.target.name.value,
                bikes:[]
            }))).remove();
            App.save();
        }
    }),
    StorageLocationView = Backbone.View.extend({
        initialize:function(){},
        render:function(id){
            $(this.el).empty().append(this.template({location: App.store.get(id)}))
        },
        el:$('.location'),
        template: _.template(['<h1><%= location.get("name") %></h1>',
			'<p><button class="edit" data-id="<%= location.cid %>">edit</button></p>',
            "<ul>",
                "<% for(var i=0, bikes=location.get('bikes');i<bikes.length;i++){ %> <li><%= bikes[i] %></li> <% } %>",
        "</ul>"].join('')),
		editTemplate:_.template(['<form>',
			'<input type="hidden" name="cid" value="<%= location.cid %>" />',
			'<h1><input type="" name="name" value="<%= location.get("name") %>"/></h1>',
			'<input type="submit" value="update" /><button class="cancel" data-id="<%= location.cid %>">cancel</button>',
		'</form>'].join('')),
		events:{
			'click .edit': 'showEditMode',
			'click .cancel': 'rerender',
			'submit form':'updateLocation'
		},
		showEditMode:function(event){
			$(this.el).empty().append( this.editTemplate({ location: App.store.get( $(event.target).attr('data-id') ) }))
		},
		rerender:function(event){
			this.render($(event.target).attr('data-id'));
		},
		updateLocation:function(event){
			event.preventDefault();
			App.store.get(event.target.cid.value).set({
                name:event.target.name.value
			})
			App.save();
			this.render(event.target.cid.value);
			sv.render();
		}
    }),
    NavView = Backbone.View.extend({
        initialize:function(){ this.render(); },
        render:function(){},
        template:_.template(''),
        el:$()
    });
App={
    init:function(){
        if(!App.load()){
            App.scaffold();
        }
        blv = new BikeListView(), 
        bv = new BikeView(),
        sv = new StoreView(),
        slv = new StorageLocationView();
        
        $('.view-group').hide().filter('#home').show();
        $('.navbar a').on('click', function(event){ 
            event.preventDefault();
            $('.view-group').hide().filter(event.target.hash).show();
            $('.navbar li').removeClass('active').filter($(this).parents('li')).addClass('active');
            if($(this).hasClass('navbar-brand')){ $('a[href=#home]').parents('li').addClass('active') }
            //add in view rerenders, for funsies?
        })
    },
    save:function(){
        window.localStorage.setItem('bikes', JSON.stringify(App.bikes.toJSON()));
        window.localStorage.setItem('store', JSON.stringify(App.store.toJSON()))
    },
    load:function(){
        var bikes = window.localStorage.bikes,
            store = window.localStorage.store;
            
        if( bikes && store && typeof JSON.parse(bikes) == 'object' && typeof JSON.parse(store) == 'object' ){
            App.bikes = new Bikes(JSON.parse(bikes));
            App.store = new Store(JSON.parse(store));
            return true;
        }
        else{
            return false;
        }
    },
    scaffold: function(){
        App.bikes=new Bikes([{"name":"my bike", "make":"Trek", "model": "7.5", "year":2014}]);
        App.store=new Store([{"name":"test location", "bikes":[]}])
    }
};

App.init();
</script>

</body>
</html>