<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
</head>
<body>
    <div class="bikes"></div>
    <div class="bike"></div>
    <hr />
    <div class="store"></div>
    <div class="location"></div>
<script>
var Bike = Backbone.Model.extend({}),
    Bikes = Backbone.Collection.extend({ model:Bike }),
    StorageLocation = Backbone.Model.extend({
        addBike:function(id){
            if (id && _.indexOf(this.attributes.bikes, id) < 0){
                this.attributes.bikes.push(id)
                return true;
            }
            else{
                return false;
            }
        },
        removeBike:function(){
            
        }
    }),
    Store = Backbone.Collection.extend({ model: StorageLocation })
    BikeListView = Backbone.View.extend({
        initialize: function(){
            this.render();
        },
        template: _.template(["<h1>Bikes</h1><ul class='bike_list'>",
                "<% items.each(function(item) { %>",
                    "<%= itemTemplate(item) %>",
                "<% }); %>",
            "</ul><button class='add'>Add a bike</button>"
            ].join('')),
        itemTemplate:_.template("<li><a href='#<%= cid %>'><%= attributes.name %></a></li>"),
        newItemTemplate:_.template(["<li><form>",
            "<input type='text' class='name' name='name' placeholder='name'/>",
            "<input type='text' class='make' name='make' placeholder='make'/>",
            "<input type='text' class='model' name='model' placeholder='model'/>",
            "<input type='number' class='year' name='year' placeholder='2014' min='1950'/>",
            "<input type='submit' value='submit' />",
            "<button class='cancel'>cancel</button>",
        "</form></li>"].join('')),
        render: function() {
            $(this.el).empty().append(this.template({
              items: App.bikes,
              itemTemplate: this.itemTemplate
            }));
        },
        el: $('.bikes'),
        events:{
            "click a":"showBike",
            "click button.add": 'newBikeLine',
            "click button.cancel":'removeBikeLine',
            "submit .bike_list form": 'addNewBike'
        },
        showBike:function(ev){
            ev.preventDefault();
            bv.render(ev.target.hash.substring(1));
        },
        newBikeLine: function(){
            $(this.el).find('.bike_list').append(this.newItemTemplate())
        },
        removeBikeLine: function(event){
            event.preventDefault();
            $(event.target).parents('li').remove()
        },
        addNewBike:function(){
            $(event.target).parents('li').after(this.itemTemplate(App.bikes.add({
                name:event.target.name.value,
                make:event.target.make.value,
                model:event.target.model.value,
                year:event.target.year.value,
                location:""
            }))).remove()
        },
    }),
    BikeView = Backbone.View.extend({
    initialize:function(){},
    render:function(id){ $(this.el).empty().append( this.template({ bike: App.bikes.get(id) })) },
    template: _.template(['<h1><%= bike.attributes.name %></h1><dl>',
        '<dt>Make</dt><dd><%= bike.attributes.make %></dd>',
        '<dt>Model</dt><dd><%= bike.attributes.model %></dd>',
        '<dt>Year</dt><dd><%= bike.attributes.year %></dd>',
        '<dt>Location</dt><dd><% if(bike.attributes.location){ %><%= bike.attributes.location %> <button>Move bike</button> <% } else { %>None  <button>Set Location</button><% } %> </dd>',
    '</dl>'].join('')),
    el:$('.bike'),
    
    })
    StoreView = Backbone.View.extend({
        initialize:function(){
             this.render();
        },
        render:function(){
            $(this.el).empty().append(this.template({
              items: App.store,
              itemTemplate: this.itemTemplate
            }));
        },
        el:$('.store'),
        template: _.template(["<h1>Storage Locations</h1><ul class='location_list'>",
                "<% items.each(function(item) { %>",
                    "<%= itemTemplate(item) %>",
                "<% }); %>",
            "</ul><button>Add a location</button>"
            ].join('')),
        itemTemplate:_.template("<li><a href='#<%= cid %>'><%= attributes.name %></a></li>"),
        events:{
            "click a":"showStorageLocation"
        },
        showStorageLocation:function(event){
            event.preventDefault();
            slv.render(event.target.hash.substring(1));
        }
    }),
    StorageLocationView = Backbone.View.extend({
        initialize:function(){},
        render:function(id){
            $(this.el).empty().append(this.template({location: App.store.get(id), itemTemplate:this.itemTemplate}))
        },
        el:$('.location'),
        template: _.template(['<h1><%= location.attributes.name %></h1>',
            "<ul>",
                "",// TODO: add in display for bikes in a location?  maybe change StorageLocation.bikes to be a collection?"
                "<li></li>",
        "</ul>"].join('')),
        itemTemplate:"<li><%= item %></li>"
    }),
    AddLocationView=Backbone.View.extend({});
App={
    bikes: new Bikes([
        {"name":"The Dale", "make":"Cannondale", "model": "CAAD10 Ultegra", "year":2014, "location": ""},
        {"name":"Rocket Ship", "make":"Trek", "model": "1.5", "year":2011, "location": ""},
        {"name":"Batmobile", "make":"Trek", "model": "7.2", "year":2012, "location": ""},
        {"name":"Cross", "make":"Focus", "model": "Mares AX 3.0", "year":2013, "location": ""}
    ]),
    store: new Store([
        {name: "Floor1", bikes:['test1'] },
        {name: "Basement", bikes:['2','3'] }
    ]),
    init:function(){
        blv = new BikeListView(), 
        bv = new BikeView();
        sv = new StoreView();
        slv = new StorageLocationView();
    }
};

App.init();

</script>



</body>
</html>